@model PokeQuizWebAPI.Models.PokemonViewModels.PokemonResponse

@{
    ViewData["Title"] = "GetPokemonDetails";
}
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   
</head>

<h1>GetPokemonDetails</h1>

<div>
    

    <h4>PokemonResponse</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PokemonName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PokemonName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PokemonId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PokemonId)
        </dd>
        
    </dl>
</div>

<div>
    <img src="@Model.PokemonImageUrl"
         width="100%" height="auto" />
</div>
</html>

