@model PokeQuizWebAPI.Models.PokemonViewModels.PokemonResponse

@{
    ViewData["Title"] = "GetPokemonDetails";
}

<h1>GetPokemonDetails</h1>

<div>
    <link rel="stylesheet" href="site.css">

    <h4>PokemonResponse</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PokemonName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PokemonName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PokemonId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PokemonId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PokemonImageUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PokemonImageUrl)

        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>


    <style>
      
        img {
            filter: brightness(0%);
            }
    </style>



     <img src="@Model.PokemonImageUrl"
         width="100%" height="auto" alt="filter applied" />

</html>

 