@model PokeQuizWebAPI.Models.QuizModels.QuizViewModel
@{
    ViewData["Title"] = "QuizView";
}
 
<h1>Who's That Pokemon</h1>

<img src="@Model.CorrectPokemon.PokemonImageUrl"
     width="50%" height="50%" alt="filter applied" />

<form asp-controller="Quiz" asp-action="QuizView" method="post">
    <input type="radio" />@Model.WrongAnswer1.PokemonName <br />
    <input type="radio">@Model.WrongAnswer2.PokemonName <br />
    <input type="radio">@Model.WrongAnswer3.PokemonName <br />
    <input type="radio">@Model.CorrectPokemon.PokemonName <br />
    <input type="submit" value="Submit" class="btn btn-primary btn-block" />
</form>
