@model PokeQuizWebAPI.Models.PlayerModels.PlayerRankModel

@{
    ViewData["Title"] = "Rank";
}
<h1>@Model.Username</h1>
<h3>Rank: @Model.PlayerRank</h3>
<h3>Percentile: Upper @Model.PlayerPerrcentile% Percentile </h3>
<h3>Overall Score: @Model.AverageScore%</h3>

<table class="table" style="width: 50%">
    <thead>
        <td align ="center">

                Top Ten Players
        </td>
    </thead>
    <tbody>
        @for (int i = 1; i < Model.TopTenPlayers.Count()+1; i++)
        {
            <tr>
                <td>@i. </td>
                <td>@Model.TopTenPlayers[i-1]</td>
            </tr>
        }
    </tbody>
</table>
